@import url(http://fonts.googleapis.com/css?family=Cinzel);
@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700);
@import url(http://fonts.googleapis.com/css?family=Quattrocento);
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic);


@media only screen
    and (min-device-width : 375px)
    and (max-device-width : 667px) {


  /** HOME PAGE**/
div#container {
  background:url("images/stars.jpg") no-repeat center center fixed;
  margin:5px 5px;
  width:90%;
  height:60%;
  position: relative;
}

.maincircle {
    position:absolute;
    top: 0;
    left:0;
  	width:200px;
  	height:200px;
  	border-radius:150px;
  	-webkit-border-radius:50%;
  	-moz-border-radius:50%;
  	background:url("images/mainpicture.jpg") no-repeat;
    background-position:center;
    background-size:150%;

  }

.middleone{
  postion:absolute;
  bottom: 0;
  left:0;
  width:200px;
  height:200px;
  border-radius:50%;
  color:#fff;
  line-height:130px;
  background:rgb(97,53,87);


}

.middletwo{
  width:200px;
  height:200px;
  border-radius:50%;
  color:#fff;
  line-height:130px;
  background:rgb(97,53,87);
  postion:absolute;
  top:0;
  right:0;
}

.contact{
    border-radius:50%;
    color:#fff;
    line-height:150px;
    text-align:center;
    text-decoration:none;
    background:rgb(111,181,174);
    postion:absolute;
    bottom:0;
    right:0;
    width:200px;
    height:200px;

  }

#container #home h1{
       position: absolute;
       bottom:0;
       font-family: 'Oswald', sans-serif;
       font-weight:normal;
       font-size:40px;
       display:block;
    }
    **/
.aboutme,.resume,.graphic{
    display:none;
  }
}
