@import url(http://fonts.googleapis.com/css?family=Cinzel);
@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700);
@import url(http://fonts.googleapis.com/css?family=Quattrocento);
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic);


@media only screen
    and (min-device-width : 375px)
    and (max-device-width : 667px)
    and (orientation : portrait)
    and (-webkit-min-device-pixel-ratio : 2){

html {
    background: url("images/stars.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  /** HOME PAGE**/
  .maincircle {
    position:relative;
    margin-left:40%;
    margin-top:10%;
  	width:300px;
  	height:300px;
  	border-radius:150px;
  	-webkit-border-radius:50%;
  	-moz-border-radius:50%;
  	background:url("images/mainpicture.jpg") no-repeat;
    background-position:center;
    background-size:150%;
  }

.middleone{
  width:300px;
  height:300px;
  border-radius:50%;
  color:#fff;
  line-height:130px;
  background:rgb(97,53,87);
  postion:relative;



}

.middletwo{
  width:300px;
  height:300px;
  border-radius:50%;
  color:#fff;
  line-height:130px;
  background:rgb(97,53,87);
  margin-top:10%;
  margin-right:5%;
  postion:relative;

}

.contact{
    border-radius:50%;
    color:#fff;
    line-height:150px;
    text-align:center;
    text-decoration:none;
    background:rgb(111,181,174);
    position:relative;
    margin-right:5%;
    margin-bottom:10%;
    width:300px;
    height:300px;

    }

    #home h1{
       position: relative;
       Margin-left:50%;
       margin-top:;
       font-family: 'Oswald', sans-serif;
       font-weight:normal;
       font-size:40px;
       display:none;
    }
  .aboutme,.resume,.graphic{
    display:none;
  }
}
