@import url(http://fonts.googleapis.com/css?family=Cinzel);
@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700);
@import url(http://fonts.googleapis.com/css?family=Quattrocento);
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic);


@media  (max-device-width: 380px) {


  /** HOME PAGE**/
  @import url(http://fonts.googleapis.com/css?family=Cinzel);
  @import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700);
  @import url(http://fonts.googleapis.com/css?family=Quattrocento);
  @import url(http://fonts.googleapis.com/css?family=Oswald);
  @import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic);
  /**
  #container{
    background:white;
  }
  **/

  html {
    background: url("images/stars.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
    border:0;
  }

  #container{
      width:320px;
      margin:auto;
      border: 2px solid transparent;
      margin-top:2px;
      position:relative;
      height:auto;
      min-height:600px;
      margin-bottom:10px;
  }
  /** HOME PAGE**/
  .maincircle {
    position:absolute;
    top:76%;
    left:180px;
  	width:300px;
  	height:300px;
  	border-radius:150px;
  	-webkit-border-radius:50%;
  	-moz-border-radius:50%;
  	background:url("images/me.JPG") no-repeat;
    background-position:-90px;
    background-size:165%;
  }

  #home h1{
     position: absolute;
     transform: rotate(270deg);
     -webkit-transform: rotate(270deg);
     -moz-transform: rotate(270deg);
	   transform-origin: left top 0;
     left:-100%;
     top:236%;
     font-family: 'Oswald', sans-serif;
     font-weight:normal;
     font-size:130px;
     white-space: nowrap;
     letter-spacing:7px;

  }

  .portfolio{
    font-family: 'Quattrocento', serif;
    font-size:30px;
  }

  .resume{
    display:none;
  }

.middleone{
    display:block;
    position:absolute;
    top:52%;
    left:60px;
    width:250px;
    height:250px;
    border-radius:50%;
    color:#fff;
    background:rgb(97,53,87);

  }

  .graphic{
    display:none;
    }

  .aboutme{
    display:none;

    }


  .middletwo {
    display:none;
  }

  .contact{
    display:block;
    position:absolute;
    top:185%;
    left:50px;
    width:250px;
    height:250px;
    border-radius:50%;
    color:#fff;
    line-height:250px;
    text-align:center;
    text-decoration:none;
    background:rgb(111,181,174);

    }


  a {
      border:0px;
  }
  a:link {
      color: white;
      text-decoration: none;
  }

  a:visited {
      color: white;
      text-decoration: none;
  }

  a:hover {
      color:white;
      text-decoration: none;
  }

  a:active {
      color: black;
      text-decoration: none;
  }



  #circle1 {
    left:20px;
    top:200px;
    display:block;
    width:150px;
    height:150px;
    border-radius:50%;
    color:#fff;
    background:rgb(159,92,120);
    position:fixed;
  }

  #circle2 {
    left:20px;
    top:500px;
    display:block;
    width:150px;
    height:150px;
    border-radius:50%;
    color:#fff;
    background:rgb(159,92,120);
    position:fixed;
  }
  #circle3 {
    left:20px;
    top:640px;
    display:block;
    width:150px;
    height:150px;
    border-radius:50%;
    color:#fff;
    background:rgb(159,92,120);
    position:fixed;
  }
#circle4{
  display:none;
}

  /**CONTACT**/
  .contacthead #circle1,.contacthead #circle2,.contacthead #circle3,.contacthead #circle4{
    background:rgb(111,181,174);
  }

  .contacthead h1{
     text-align: center;
     font-family: 'Oswald', sans-serif;
     font-weight:normal;
     font-size:80px;
     color:white;
     position:fixed;
  }
  #contactbox{
    width:600px;
    height:auto;
    left:200px;
    right:200px;
    border: none;
    position:fixed;
    top:250px;
    left:250px;
  }
  #describer {
      list-style: none;
      padding: 0px;
      margin-left: 0;
      margin-right:61.5%;
      margin-top: 0%;
      color:white;
      border-right: 2px solid white;
      font-family: 'Quattrocento', serif;
      font-weight: normal;
      font-size:60px;
      position:relative;
  }
  #contactinfo{
    list-style: none;
    padding: 0px;
    right:-260px;
    bottom:375px;
    margin-right:40%;
    color:white;
    font-family: 'Quattrocento', serif;
    font-size:39px;
    position:relative;
  }

  #describer li{
    margin:0 0 63px 0;
  }
  #contactinfo li{
    margin:0 0 80px 0;
  }

  /**RESUME**/

  #resumecontainer{
    background:rgb(159,92,120);
    border: 1px solid black;
    margin:0 auto;
    width:960px;
    padding:0 10px;
  }


  #resumecontainer.resumebody {
      background: white;
      margin: 40px;
      font-family: "PT Serif Caption", serif;
      font-size: 12pt;
  }

  #resumecontainer header {
      padding-bottom: 10px;
  }

  #resumecontainer header h1 {
    font-family: 'Oswald', sans-serif;
      font-size: 40pt;
      letter-spacing: 2pt;
      border-bottom: 1px solid black;
      margin-bottom: 4px;
  }

  #resumecontainer header address {
    font-family: 'Quattrocento', serif;
      font-size: 10pt;
      float: right;
  }

  #resumecontainer section h2 {
    font-family: 'Quattrocento', serif;
      font-size: 23pt;
      border-bottom: 1px solid black;
      margin-bottom: 4px;
  }

  #resumecontainer section h3 {
    font-family: 'Quattrocento', serif;
      font-size: 15pt;
      font-weight: normal;
  }

  #resumecontainer section ul {
      list-style-type: circle;
  }

  #resumecontainer section li {
      margin-left: 40px;
  }

  .title {
      font-style: italic;
  }
