@import url(http://fonts.googleapis.com/css?family=Cinzel);
@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700);
@import url(http://fonts.googleapis.com/css?family=Quattrocento);
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic);
/**
#container{
  background:white;
}
**/

html {
  background: url("images/stars.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0;
  border:0;
}

#container{
    width:990px;
    margin:auto;
    border: 2px solid transparent;
    margin-top:2px;
    position:relative;
    height:auto;
    min-height:600px;
    margin-bottom:10px;
}
/** HOME PAGE**/
.maincircle {
  position:relative;
  top:75%;
  left:50%;
  margin-top:235px;
  margin-left:-150px;
	width:300px;
	height:300px;
	border-radius:150px;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	background:url("css/images/me.JPG") no-repeat;
  background-position:-90px;
  background-size:165%;
}

#home h1{
   position: relative;
   text-align: center;
   Margin: 18px -32px 30px auto;
   font-family: 'Oswald', sans-serif;
   font-weight:normal;
   font-size:50px;

}

.portfolio{
  font-family: 'Quattrocento', serif;
  font-size:18px;
}

.resume{
  display:block;
  width:130px;
  height:130px;
  border-radius:50%;
  color:#fff;
  line-height:130px;
  text-align:center;
  text-decoration:none;
  background:rgb(159,92,120);
  left:15px;
  top:5%;
  position:absolute;
  }

.resume:hover{
    color:#ccc;
    text-decoration:none;
    background:#333;
  }

.middleone{
  display:block;
  width:130px;
  height:130px;
  border-radius:50%;
  color:#fff;
  line-height:130px;
  background:rgb(97,53,87);
  float: left;
  left:15px;
  top:40%;
  position:absolute;

}

.graphic{
  display:block;
  width:130px;
  height:130px;
  border-radius:50%;
  color:#fff;
  line-height:130px;
  text-align:center;
  text-decoration:none;
  background:rgb(111,181,174);
  position:absolute;
  left:15px;
  top:75%;

}

  .graphic:hover{
    color:#ccc;
    text-decoration:none;
    background:#333;
  }

.aboutme{
  display:block;
  width:130px;
  height:130px;
  border-radius:50%;
  color:#fff;
  line-height:130px;
  text-align:center;
  text-decoration:none;
  background:rgb(159,92,120);
  right:15px;
  top:5%;
  position:absolute;

}

  .aboutme:hover{
    color:#ccc;
    text-decoration:none;
    background:#333;
  }


.middletwo {
  display:block;
  width:130px;
  height:130px;
  border-radius:50%;
  color:#fff;
  background:rgb(97,53,87);
  right:15px;
  top:40%;
  position:absolute;
}

.contact{
  display:block;
  width:130px;
  height:130px;
  border-radius:50%;
  color:#fff;
  line-height:130px;
  text-align:center;
  text-decoration:none;
  background:rgb(111,181,174);
  position:absolute;
  right:15px;
  top:75%;

  }

    .contact:hover{
      color:#ccc;
      text-decoration:none;
      background:#333;
    }

a {
    border:0px;
}
a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color:white;
    text-decoration: none;
}

a:active {
    color: black;
    text-decoration: none;
}

/** PAGES**/


#circle1 {
  margin-left:0px;
  margin-top:-150px;
  display:block;
  width:130px;
  height:130px;
  border-radius:50%;
  color:#fff;
  line-height:130px;
  text-align:center;
  text-decoration:none;
  background:rgb(159,92,120);
  position:absolute;
}

#circle2 {
  right:0;
  margin-top:-150px;
  margin-left:0px;
  display:block;
  width:130px;
  height:130px;
  border-radius:50%;
  color:#fff;
  line-height:130px;
  text-align:center;
  text-decoration:none;
  background:rgb(159,92,120);
  position:absolute;
}
#circle3 {
  margin-left:0px;
  margin-top:30px;
  display:block;
  width:130px;
  height:130px;
  border-radius:50%;
  color:#fff;
  line-height:130px;
  text-align:center;
  text-decoration:none;
  background:rgb(159,92,120);
  position:absolute;
}
#circle4 {
  right:0;
  margin-top:30px;
  display:block;
  width:130px;
  height:130px;
  border-radius:50%;
  color:#fff;
  line-height:130px;
  text-align:center;
  text-decoration:none;
  background:rgb(159,92,120);
  position:absolute;
}

/**GRAPHIC PAGE**/


.graphichead #circle1,.graphichead #circle2,.graphichead #circle3,.graphichead #circle4{
  background:rgb(111,181,174);
}

.graphichead h1{
   text-align: center;
   font-family: 'Oswald', sans-serif;
   font-weight:normal;
   font-size:60px;
   color:white;
}


.photos{
  float: right;
  padding:8px;
  margin: 0px;
  position:absolute;
  right:165px;
  border: 2px solid #cccccc;
  font-size: 1em;
  color:white;
  font-family: 'Quattrocento', serif;

}
.photos2{
  position:absolute;
  float: left;
  padding:8px;
  margin: 0px;
  left:160px;
  border: 2px solid #cccccc;
  color:white;
  font-size: 1em;
  font-family: 'Quattrocento', serif;

}

.photos3{
  float: right;
  padding:8px;
  margin: 0px;
  position:absolute;
  right:162px;
  top:650px;
  border: 2px solid #cccccc;
  font-size: 1em;
  color:white;
  font-family: 'Quattrocento', serif;
  margin-bottom:20px;

}
.photos4{
  position:absolute;
  float: left;
  padding:8px;
  margin: 0px;
  left:160px;
  top:650px;
  border: 2px solid #cccccc;
  color:white;
  font-size: 1em;
  font-family: 'Quattrocento', serif;


}

img{
  width:300px;
  height:auto;
}




/**
.photos li h2 {
	margin: 0 0 20px;
  font-family: 'Quattrocento', serif;
  font-weight:normal;
  font-size:24px;
  color:white;
}

/**ABOUT ME**/

.aboutmehead #square1,.aboutmehead #square2,.aboutmehead #square3,.aboutmehead #square4{
  background:rgb(159,92,120);
}

.aboutmehead h1{
   text-align: center;
   font-family: 'Oswald', sans-serif;
   font-weight:normal;
   font-size:60px;
   color:white;
}


blockquote p {
  font-size:65px;
  font-family: 'Quattrocento', serif;
  position:absolute;
  right:130px;
  top:125px;
  display:block;
  width:340px;
  color:white;
  display:block;

}

.mypicture {
  position:absolute;
  float:left;
  left:170px;
  top:180px;
	width:280px;
	height:280px;
	border-radius:140px;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	background:url("images/aboutmepic.jpg") no-repeat;
  background-position:center;
  background-size:170%;
}

article p{
  font-size: 27px;
  font-family: 'Quattrocento', serif;
  top:480px;
  text-align:left;
  left:175px;
  margin-bottom:50px;
  color:white;
  position:absolute;
  width:30%;
  display:block;
}


/**CONTACT**/
.contacthead #circle1,.contacthead #circle2,.contacthead #circle3,.contacthead #circle4{
  background:rgb(111,181,174);
}

.contacthead h1{
   text-align: center;
   font-family: 'Oswald', sans-serif;
   font-weight:normal;
   font-size:60px;
   color:white;
}
#contactbox{
  width:600px;
  height:auto;
  left:200px;
  right:200px;
  border: none;
  position:absolute;
}
#describer {
    list-style: none;
    padding: 0px;
    margin-left: 0;
    margin-right:61.5%;
    margin-top: 0%;
    color:white;
    border-right: 2px solid white;
    font-family: 'Quattrocento', serif;
    font-weight: normal;
    font-size:60px;
    position:relative;
}
#contactinfo{
  list-style: none;
  padding: 0px;
  right:-260px;
  bottom:375px;
  margin-right:40%;
  color:white;
  font-family: 'Quattrocento', serif;
  font-size:39px;
  position:relative;
}

#describer li{
  margin:0 0 63px 0;
}
#contactinfo li{
  margin:0 0 80px 0;
}

/**RESUME**/

#resumecontainer{
  background:rgb(159,92,120);
  border: 1px solid black;
  margin:0 auto;
  width:960px;
  padding:0 10px;
}


#resumecontainer.resumebody {
    background: white;
    margin: 40px;
    font-family: "PT Serif Caption", serif;
    font-size: 12pt;
}

#resumecontainer header {
    padding-bottom: 10px;
}

#resumecontainer header h1 {
  font-family: 'Oswald', sans-serif;
    font-size: 40pt;
    letter-spacing: 2pt;
    border-bottom: 1px solid black;
    margin-bottom: 4px;
}

#resumecontainer header address {
  font-family: 'Quattrocento', serif;
    font-size: 10pt;
    float: right;
}

#resumecontainer section h2 {
  font-family: 'Quattrocento', serif;
    font-size: 23pt;
    border-bottom: 1px solid black;
    margin-bottom: 4px;
}

#resumecontainer section h3 {
  font-family: 'Quattrocento', serif;
    font-size: 15pt;
    font-weight: normal;
}

#resumecontainer section ul {
    list-style-type: circle;
}

#resumecontainer section li {
    margin-left: 40px;
}

.title {
    font-style: italic;
}
