@import url(http://fonts.googleapis.com/css?family=Cinzel);
@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700);
@import url(http://fonts.googleapis.com/css?family=Quattrocento);
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic);

#container{
  background:white;
}
/** HOME PAGE**/
.maincircle {
  position:relative;
  top:75%;
  left:50%;
  margin-top:235px;
  margin-left:-150px;
	width:300px;
	height:300px;
	border-radius:150px;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	background:url("mainpicture.jpg") no-repeat;
  background-position:center;
  background-size:150%;
}

#home h1{
   position: relative;
   text-align: center;
   Margin: 18px -32px 30px auto;
   font-family: 'Oswald', sans-serif;
   font-weight:normal;
   font-size:40px;
}

.portfolio{
  font-family: 'Quattrocento', serif;
  font-size:18px;
}

.resume{
  display:block;
  width:130px;
  height:130px;
  border-radius:50%;
  color:#fff;
  line-height:130px;
  text-align:center;
  text-decoration:none;
  background:rgb(159,92,120);
  float: left;
  margin-left:150px;
  margin-top:-565px;

  }

  .resume:hover{
    color:#ccc;
    text-decoration:none;
    background:#333
  }

.middleone{
  display:block;
  width:130px;
  height:130px;
  border-radius:50%;
  color:#fff;
  line-height:130px;
  background:rgb(97,53,87);
  float: left;
  margin-left:150px;
  margin-top:-375px;

}

.graphic{
  display:block;
  width:130px;
  height:130px;
  border-radius:50%;
  color:#fff;
  line-height:130px;
  text-align:center;
  text-decoration:none;
  background:rgb(111,181,174);
  float: left;
  margin-left:150px;
  margin-top:-185px;

}

  .graphic:hover{
    color:#ccc;
    text-decoration:none;
    background:#333
  }

.aboutme{
  display:block;
  width:130px;
  height:130px;
  border-radius:50%;
  color:#fff;
  line-height:130px;
  text-align:center;
  text-decoration:none;
  background:rgb(159,92,120);
  float:right;
  margin-right:150px;
  margin-top:-565px;

}

  .aboutme:hover{
    color:#ccc;
    text-decoration:none;
    background:#333
  }


.middletwo {
  display:block;
  width:130px;
  height:130px;
  border-radius:50%;
  color:#fff;
  background:rgb(97,53,87);
  float:right;
  margin-right:150px;
  margin-top:-375px;
}

.contact{
  display:block;
  width:130px;
  height:130px;
  border-radius:50%;
  color:#fff;
    line-height:130px;
    text-align:center;
    text-decoration:none;
    background:rgb(111,181,174);
    float: right;
    margin-right:150px;
    margin-top:-185px;

  }

    .contact:hover{
      color:#ccc;
      text-decoration:none;
      background:#333
    }

h1 a {
    border:0px;
}
h1 a:link {
    color: black;
    text-decoration: none;
}

h1 a:visited {
    color: black;
    text-decoration: none;
}

h1 a:hover {
    color: black;
    text-decoration: none;
}

h1 a:active {
    color: black;
    text-decoration: none;
}

/** PAGES**/

.square,.square2, .square3, .square4{
  background:rgb(111,181,174);


}

.square {
  float: left;
  margin-left:40px;
  margin-top:-150px;
  display:table;
  width: 150px;
  height: 150px;
}
.square2 {
  float: right;
  margin-right:40px;
  margin-top:-150px;
  display:table;
  width: 150px;
  height: 150px;
}
.square3 {
  float: left;
  margin-left:40px;
  margin-top:30px;
  display:table;
  width: 150px;
  height: 150px;
}
.square4 {
  float: right;
  margin-right:40px;
  margin-top:30px;
  display:table;
  width: 150px;
  height: 150px;
}

/**GRAPHIC PAGE**/

#graphichead h1{
   position: relative;
   text-align: center;
   Margin-right:0px;
   margin-top: 60px;
   font-family: 'Oswald', sans-serif;
   font-weight:normal;
}

#graphichead h1{
  font-size:50px;
}

#box1{
  width:300px;
  height:200px;
  float:left;
  margin-left:110px;
  margin-top:-10px;
  background:url("runwalkskate.jpg") no-repeat;
  background-size:80%;
  background-position:center;
  border-radius:0px;
  overflow:hidden;
}
#box2{
   width:300px;
   height:200px;
   margin-top:-10px;
   margin-right:110px;
   float: right;
   background:url("CDPlogo.jpg") no-repeat;
   background-size:90%;
   background-position:center;
   border-radius:0px;
   overflow:hidden;
 }
#box3{
    width:300px;
    height:200px;
    margin-left:300px;
    float: left;
    background:url("Budapest.jpg") no-repeat;
    background-size:50%;
    background-position:center;
    border-radius:0px;
    overflow:hidden;
  }

#box4{
     width:300px;
     height:200px;
     margin-right:300px;
     float: right;
     background:url("Adgroup.jpg") no-repeat;
     background-size:100%;
     background-position:center;
     border-radius:0px;
     overflow:hidden;
   }

#overlay{
  background:rgba(0,0,0,.75);
  text-align:center;
  padding:45px 0 66px 0;
  opacity:0;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;}

#box1:hover #overlay, #box2:hover #overlay, #box3:hover #overlay, #box4:hover #overlay {
   opacity:1;
}

#text {
 font-family: 'Quattrocento', serif;
 font-weight:900;
 color:white;
 font-size:40px;
 }

/**ABOUT ME**/


#aboutmehead h1{
   position: relative;
   text-align: center;
   Margin-right:0px;
   margin-top: 60px;
   font-family: 'Oswald', sans-serif;
   font-weight:normal;
}
#aboutmehead h1{
  font-size:50px;
}


blockquote p {
  font-size:50px;
  font-family: 'Quattrocento', serif;
  text-align:center;
  margin-right:160px;
  margin-left:160px;
  margin-top:-37px;

}
.mypicture {
  position:relative;
  top:75%;
  left:50%;
  margin-top:50px;
  margin-left:-150px;
	width:300px;
	height:300px;
	border-radius:150px;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	background:url("aboutmepic.jpg") no-repeat;
  background-position:center;
  background-size:170%;
}

article p{
  font-size: 30px;
  font-family: 'Quattrocento', serif;
  margin-top:50px;
  margin-right:300px;
  margin-left:300px;
  text-align:center;
}


/**CONTACT**/
#contacthead h1{
   position: relative;
   text-align: center;
   Margin-right:0px;
   margin-top: 60px;
   font-family: 'Oswald', sans-serif;
   font-weight:normal;
  font-size:53px;
}
.email {
  position: relative;
  text-align: center;
  Margin-right:0px;
  margin-top: 26px;
  font-family: 'Quattrocento', serif;
  font-weight:normal;
 font-size:24px;
}
.phone {
  position: relative;
  text-align: center;
  Margin-right:0px;
  margin-top: 28px;
  font-family: 'Quattrocento', serif;
  font-weight:normal;
 font-size:50px;
}

.address{
  position: relative;
  text-align: center;
  Margin-right:0px;
  margin-top: -20px;
  font-family: 'Quattrocento', serif;
  font-weight:normal;
 font-size:24px;
}


/**RESUME**/

#resumecontainer{
  background:rgb(159,92,120);
  border: 1px solid black;
  margin:0 auto;
  width:960px;
  padding:0 10px;
}


.resumebody {
    background: white;
    margin: 40px;
    font-family: "PT Serif Caption", serif;
    font-size: 12pt;
}

#resumecontainer header {
    padding-bottom: 10px;
}

#resumecontainer header h1 {
  font-family: 'Oswald', sans-serif;
    font-size: 40pt;
    letter-spacing: 2pt;
    border-bottom: 1px solid black;
    margin-bottom: 4px;
}

#resumecontainer header address {
  font-family: 'Quattrocento', serif;
    font-size: 10pt;
    float: right;
}

#resumecontainer section h2 {
  font-family: 'Quattrocento', serif;
    font-size: 23pt;
    border-bottom: 1px solid black;
    margin-bottom: 4px;
}

#resumecontainer section h3 {
  font-family: 'Quattrocento', serif;
    font-size: 15pt;
    font-weight: normal;
}

#resumecontainer section ul {
    list-style-type: circle;
}

#resumecontainer section li {
    margin-left: 40px;
}

.title {
    font-style: italic;
}
