@import url(http://fonts.googleapis.com/css?family=Cinzel);
@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700);
@import url(http://fonts.googleapis.com/css?family=Quattrocento);
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic);
/**
#container{
  background:white;
}
**/
html {
  background: url("stars.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/** HOME PAGE**/
.maincircle {
  position:relative;
  top:75%;
  left:50%;
  margin-top:235px;
  margin-left:-150px;
	width:300px;
	height:300px;
	border-radius:150px;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	background:url("mainpicture.jpg") no-repeat;
  background-position:center;
  background-size:150%;
}

#home h1{
   position: relative;
   text-align: center;
   Margin: 18px -32px 30px auto;
   font-family: 'Oswald', sans-serif;
   font-weight:normal;
   font-size:40px;

}

.portfolio{
  font-family: 'Quattrocento', serif;
  font-size:18px;
}

.resume{
  display:block;
  width:130px;
  height:130px;
  border-radius:50%;
  color:#fff;
  line-height:130px;
  text-align:center;
  text-decoration:none;
  background:rgb(159,92,120);
  float: left;
  margin-left:150px;
  margin-top:-565px;

  }

  .resume:hover{
    color:#ccc;
    text-decoration:none;
    background:#333;
  }

.middleone{
  display:block;
  width:130px;
  height:130px;
  border-radius:50%;
  color:#fff;
  line-height:130px;
  background:rgb(97,53,87);
  float: left;
  margin-left:150px;
  margin-top:-375px;

}

.graphic{
  display:block;
  width:130px;
  height:130px;
  border-radius:50%;
  color:#fff;
  line-height:130px;
  text-align:center;
  text-decoration:none;
  background:rgb(111,181,174);
  float: left;
  margin-left:150px;
  margin-top:-185px;

}

  .graphic:hover{
    color:#ccc;
    text-decoration:none;
    background:#333;
  }

.aboutme{
  display:block;
  width:130px;
  height:130px;
  border-radius:50%;
  color:#fff;
  line-height:130px;
  text-align:center;
  text-decoration:none;
  background:rgb(159,92,120);
  float:right;
  margin-right:150px;
  margin-top:-565px;

}

  .aboutme:hover{
    color:#ccc;
    text-decoration:none;
    background:#333;
  }


.middletwo {
  display:block;
  width:130px;
  height:130px;
  border-radius:50%;
  color:#fff;
  background:rgb(97,53,87);
  float:right;
  margin-right:150px;
  margin-top:-375px;
}

.contact{
  display:block;
  width:130px;
  height:130px;
  border-radius:50%;
  color:#fff;
    line-height:130px;
    text-align:center;
    text-decoration:none;
    background:rgb(111,181,174);
    float: right;
    margin-right:150px;
    margin-top:-185px;

  }

    .contact:hover{
      color:#ccc;
      text-decoration:none;
      background:#333;
    }

h1 a {
    border:0px;
}
h1 a:link {
    color: white;
    text-decoration: none;
}

h1 a:visited {
    color: white;
    text-decoration: none;
}

h1 a:hover {
    color:white;
    text-decoration: none;
}

h1 a:active {
    color: black;
    text-decoration: none;
}

/** PAGES**/


#square1 {
  float: left;
  margin-left:40px;
  margin-top:-150px;
  display:in-line block;
  width: 150px;
  height: 150px;
}

#square2 {
  float: right;
  margin-right:40px;
  margin-top:-150px;
  display:in-line block;
  width: 150px;
  height: 150px;
}
#square3 {
  float: left;
  margin-left:40px;
  margin-top:30px;
  display:in-line block;
  width: 150px;
  height: 150px;
}
#square4 {
  float: right;
  margin-right:40px;
  margin-top:30px;
  display:in-line block;
  width: 150px;
  height: 150px;
}

/**GRAPHIC PAGE**/


.graphichead #square1,.graphichead #square2,.graphichead #square3,.graphichead #square4{
  background:rgb(111,181,174);
}

.graphichead h1{
   position: relative;
   text-align: center;
   Margin-right:0px;
   margin-top: 60px;
   font-family: 'Oswald', sans-serif;
   font-weight:normal;
   color:white;
}

.graphichead h1{
  font-size:50px;
  text-align:center;
}


.photos{
	list-style: none;
	font-size: 0px;
  -webkit-columns: 1 300px;
  -moz-columns: 1 300px;
   columns: 1 300px;
}

.photos li {
	display:block;
	padding: 10px;
	vertical-align: top;
  margin-right:40px;
  margin-top:2.5%;
}

.photos li img {
	max-width: 50%;
	max-height: auto;
	margin: 0 0 35px 0px ;
  border: 1px solid black;
}

.descriptions #philadone,.descriptions #philadtwo,.descriptions #graphicproject,.descriptions #adgroup {
  -webkit-columns: 1 300px;
  -moz-columns: 1 300px;
   columns: 1 300px;
   border-bottom: 2px solid white;

}
.descriptions #philadone {
  margin-left:53%;
  margin-top:-157%;
  max-width:320px;
}

.descriptions #philadtwo {
  margin-left:53%;
  margin-top:43%;
  max-width:320px;
}
.descriptions #graphicproject {
  margin-left:53%;
  margin-top:42.5%;
  max-width:360px;
}
.descriptions #adgroup {
  margin-left:53%;
  margin-top:43.5%;
  max-width:250px;
}

h2.descriptions p {
	display: block;
	vertical-align: top;
  font-family: 'Quattrocento', serif;
  font-weight:normal;
  font-size:38px;
  color:white;
}



/**
.photos li h2 {
	margin: 0 0 20px;
  font-family: 'Quattrocento', serif;
  font-weight:normal;
  font-size:24px;
  color:white;
}

/**ABOUT ME**/

.aboutmehead #square1,.aboutmehead #square2,.aboutmehead #square3,.aboutmehead #square4{
  background:rgb(159,92,120);
}

.aboutmehead h1{
   position: relative;
   text-align: center;
   Margin-right:0px;
   margin-top: 60px;
   font-family: 'Oswald', sans-serif;
   font-weight:normal;
   color:white;
}
.aboutmehead h1{
  font-size:50px;
}


blockquote p {
  font-size:56px;
  font-family: 'Quattrocento', serif;
  text-align:left;
  margin-right:17%;
  margin-left:49%;
  color:white;

}

.mypicture {
  position:relative;
  margin-top:-26%;
  margin-left:20%;
	width:300px;
	height:300px;
	border-radius:150px;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	background:url("aboutmepic.jpg") no-repeat;
  background-position:center;
  background-size:170%;
}

article p{
  font-size: 27px;
  font-family: 'Quattrocento', serif;
  margin-top:4%;
  margin-left:19%;
  margin-right:17%;
  text-align:left;
  color:white;
}


/**CONTACT**/

.contacthead #square1,.contacthead #square2,.contacthead #square3,.contacthead #square4{
  background:rgb(111,181,174);
}

.contacthead h1{
   position: relative;
   text-align: center;
   Margin-right:0px;
   margin-top: 60px;
   font-family: 'Oswald', sans-serif;
   font-weight:normal;
  font-size:53px;
  color:white;
}
#describer {
    list-style: none;
    padding: 0px;
    margin-left: 20%;
    margin-right:61.5%;
    margin-top: 0%;
    color:white;
    border-right: 2px solid white;
    font-family: 'Quattrocento', serif;
    font-weight: normal;
    font-size:60px;
}
#contactinfo{
  list-style: none;
  padding: 0px;
  margin-left: 41%;
  margin-top: -30%;
  margin-right: 20%;
  color:white;
  font-family: 'Quattrocento', serif;
  font-size:43px;
}

#describer li{
  margin:0 0 63px 0;
}
#contactinfo li{
  margin:0 0 65px 0;
}

/**RESUME**/

#resumecontainer{
  background:rgb(159,92,120);
  border: 1px solid black;
  margin:0 auto;
  width:960px;
  padding:0 10px;
}


.resumebody {
    background: white;
    margin: 40px;
    font-family: "PT Serif Caption", serif;
    font-size: 12pt;
}

#resumecontainer header {
    padding-bottom: 10px;
}

#resumecontainer header h1 {
  font-family: 'Oswald', sans-serif;
    font-size: 40pt;
    letter-spacing: 2pt;
    border-bottom: 1px solid black;
    margin-bottom: 4px;
}

#resumecontainer header address {
  font-family: 'Quattrocento', serif;
    font-size: 10pt;
    float: right;
}

#resumecontainer section h2 {
  font-family: 'Quattrocento', serif;
    font-size: 23pt;
    border-bottom: 1px solid black;
    margin-bottom: 4px;
}

#resumecontainer section h3 {
  font-family: 'Quattrocento', serif;
    font-size: 15pt;
    font-weight: normal;
}

#resumecontainer section ul {
    list-style-type: circle;
}

#resumecontainer section li {
    margin-left: 40px;
}

.title {
    font-style: italic;
}
